@import url('./base-styles.css');

.app { 
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--s-base01);
  font-family: var(--nunito-font);
}

ul, li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
